.main_container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container {
  /* background-color: antiquewhite; */
  width: 85%;
  min-height: 100vh;
}

.first_page {
  width: 100%;
  min-height: 100vh;
}
