.main_container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* min-width: 667px; */
}

@media (max-width: 767px) {
  /* 모바일 */
}
